**/.DS_Store
**/old/*.eps
**/*~
**/*.aux
**/*.bbl
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.synctex.gz
**/*eps-converted-to.pdf
**/*.idx
**/*.ilg
**/*.ind
**/*.loa
**/*.lof
**/*.lot
**/*.out
**/*.toc
**/*.brf
**/*.nav
**/*.snm